@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  @apply bg-primary-400;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  .pink_container {
    @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }

  .orange_container {
    @apply w-full bg-primary-300 min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }

  .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  }

  .heading {
    @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] text-center my-5;
  }

  .form-title {
    @apply font-work-sans font-bold sm:text-[36px] sm:leading-[44px] text-[24px] leading-[32px] text-center text-black-100;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /* profile */
  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary-300 border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 shadow-100;
  }

  .profile_image {
    @apply rounded-full object-cover border-[2px] border-black;
  }

  /* idea details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  /* navbar */
  .avatar {
    @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md !important;
  }

  .dropdown-menu {
    @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl !important;
  }

  .login {
    @apply border-[5px] py-4 border-black bg-white text-black relative shadow-100 font-work-sans font-medium hover:shadow-none transition-all duration-500 !important;
  }

  /* searchform */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center !important;
  }

  /* eventcard */
  .event-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary-300  hover:shadow-300 hover:bg-primary-500 transition-all duration-500;
  }

  .event-card_date {
    @apply font-medium text-[16px] rounded-full cursor-default;
  }

  .event-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-words;
    min-height: 3rem;
  }

  .event-card_img {
    @apply w-full h-[180px] rounded-[10px] object-cover shadow-lg;
  }

  .event-card_avatar {
    @apply rounded-full hover:scale-110 transition-transform duration-300 object-cover w-12 h-12 overflow-hidden shadow-md border-[1px] border-black;
  }

  .event-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3 hover:scale-110 transition-transform duration-300 !important;
  }

  .event-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  /* eventform */
  .event-form {
    @apply max-w-2xl mx-auto my-10 space-y-8 px-6;
  }

  .event-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .event-form_input {
    @apply border-[3px] bg-white border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-black-300;
  }

  .event-form_textarea {
    @apply border-[3px] bg-white border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300;
  }

  .event-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .event-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300 !important;
  }

  .event-form_btn_submit {
    @apply border-black p-6 font-bold text-[18px]
    flex items-center justify-center text-white rounded-full transition ml-4
    shadow-md hover:shadow-lg;
  }

  .event-form_btn_delete {
    @apply border-black w-12 h-12 flex items-center justify-center bg-red-400 text-white rounded-full hover:bg-red-600 transition font-bold text-[18px]
    shadow-md hover:shadow-lg !important;
  }

  /* view */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

/* Toggle container styles */
.toggle-container {
  @apply flex items-center gap-3 font-sans;
}

.toggle-label {
  @apply text-[16px] font-medium text-gray-800;
}

/* Toggle wrapper */
.toggle-wrapper {
  @apply relative flex items-center w-[150px] h-[40px] bg-gray-200 rounded-full cursor-pointer;
  padding: 0; /* Remove extra padding to avoid unwanted space */
  overflow: hidden; /* Ensure no content spills out of the rounded container */
}

/* Slider for the background highlight */
.toggle-slider {
  @apply absolute top-0 left-0 h-full w-1/2 bg-primary-300 rounded-full transition-transform duration-300;
}

.toggle-options {
  @apply relative flex w-full justify-between items-center z-10;
}

.toggle-item {
  @apply flex-1 text-center text-[14px] font-medium text-gray-600;
  line-height: 40px;
}

.toggle-item.active {
  @apply text-white font-semibold;
}

.toggle-item.inactive {
  @apply text-gray-600;
}

/* Success state for form input */
.form-input_success {
  @apply bg-green-100 border-green-500;
}

/* Error state for form input */
.form-input_error {
  @apply bg-red-100 border-red-500;
}

/* Position the FriendList under the profile card */
.profile_friendlist {
  @apply w-full max-lg:mt-5;
}

.friend-list {
  @apply w-full px-6 py-5 rounded-[20px] shadow-md flex flex-col items-center gap-4;
}

.friend-list h1 {
  @apply text-2xl font-semibold text-black mb-4;
}

.friend-item {
  @apply flex flex-col items-center;
}

.friend-photo {
  @apply w-14 h-14 rounded-full object-cover mb-2;
}

/* Adjust FriendList responsiveness */
@media (max-width: 1024px) {
  .profile_friendlist {
    @apply mt-8;
  }

  .friend-list {
    @apply w-full px-4;
  }
}

.devmode-1 {
  @apply border-2 border-red-500 !important;
}

.devmode-2 {
  @apply border-2 border-green-500 !important;
}

.devmode-3 {
  @apply border-2 border-yellow-500 !important;
}

.friend-divider {
  @apply bg-white h-[1px] mb-4 w-full mx-auto;
}

.friend-button {
  @apply w-8 h-8 text-white rounded-full flex items-center justify-center shadow-md relative;
}

.friend-button--green {
  @apply bg-green-500 hover:bg-green-600;
}

.friend-button-notification-circle {
  @apply absolute top-0 right-0 bg-red-500 text-white text-xs font-bold w-4 h-4 flex items-center justify-center rounded-full;
}