.event-card {
  @apply border-[5px] py-6 px-5 rounded-[22px] shadow-xl hover:shadow-2xl hover:bg-red-50 hover:scale-105 transition-transform duration-300 relative;
}

.event-card-default {
  @apply event-card border-black bg-white hover:border-secondary hover:bg-red-50;
}

.event-card-featured {
  @apply event-card border-gold/50 bg-gold-light hover:border-gold/80 hover:bg-gold/10;
}

.event-card-edit-button {
  @apply absolute -top-4 -right-4 w-10 h-10 flex items-center justify-center bg-white hover:bg-red-50 border-2 border-black rounded-full shadow-md shadow-black/50 hover:border-primary text-black hover:text-primary;
}

.event-card-edit-icon {
  @apply w-5 h-5;
}

.event-card-section {
  @apply flex justify-between items-center;
}

.event-card-top {
  @apply event-card-section;
}

.event-card_date {
  @apply font-medium text-[16px] sm:text-[14px] md:text-[14px] lg:text-[14px] xl:text-[16px];
}

.event-card-view {
  @apply flex gap-1.5;
}

.event-card-view-icon {
  @apply size-6 text-primary;
}

.event-card-text {
  @apply font-medium text-[16px] text-black;
}

.event-card-header {
  @apply event-card-section mt-5 gap-5;
}

.event-card-header-container {
  @apply flex-1;
}

.event-card-name {
  @apply font-normal text-gray-600 text-[16px] sm:text-[14px] md:text-[14px] lg:text-[14px] xl:text-[16px] line-clamp-1 hover:text-primary;
}

.event-card-title {
  @apply text-[20px] sm:text-[16px] md:text-[16px] lg:text-[16px] xl:text-[20px] font-semibold text-black line-clamp-1 py-1;
}

.event-card-avatar-container {
  @apply relative w-12 h-12 rounded-full overflow-hidden shadow-md shadow-black/50 hover:scale-105;
}

.event-card-avatar {
  @apply rounded-full transition-transform duration-300 object-cover w-12 h-12 overflow-hidden shadow-md;
}

.event-card-description {
  @apply font-normal text-[16px] line-clamp-2 my-3 text-black break-words;
  min-height: 3rem;
}

.event-card-image {
  @apply w-full h-[180px] rounded-[10px] object-cover shadow-lg;
}

.event-card-bottom {
  @apply event-card-section mt-5 gap-3;
}

.event-card-category {
  @apply font-medium text-[16px] text-black hover:text-primary;
}

.event-card-button {
  @apply flex items-center gap-2 py-2 px-5 rounded-full border-2 text-white bg-black hover:bg-slate-800 border-black;
}

.event-card-button-text {
  @apply font-medium text-[16px];
}

.event-card-skeleton {
  @apply w-full h-96 rounded-[22px] bg-zinc-400;
}

.event-card-featured-badge {
  @apply absolute top-0 right-0 bg-gold-light border-[3px] border-gold rounded-full p-2 flex items-center justify-center translate-x-1/2 -translate-y-1/2 shadow-md shadow-black/50 cursor-pointer;
}

.event-card-featured-badge-icon {
  @apply text-gold w-4 h-4;
}

.event-card-featured-badge::after {
  content: attr(data-tooltip);
  @apply absolute -top-6 -left-14 -translate-x-1/2 text-gold border-[2px] border-gold bg-gold-light text-sm rounded-full px-2 py-1 opacity-0 transition-opacity duration-200 pointer-events-none z-10;
  white-space: nowrap;
}

.event-card-featured-badge:hover::after {
  @apply opacity-100;
}
